.carousel-inner .carousel-item img{
    height: 30rem;
}

.card-div{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 20rem;
}

.card-div .card img{
    height: 100%;
    width: 100%;
}

.card-div .card .card-body h5{
    text-align: center;
}

.card-div .card .card-body a{
    text-align: center;
    text-decoration: none;
}

footer{
    margin-top: 5%;
}

body{
    overflow-x: hidden;
    scrollbar-width: none;
}