
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('../images/about-background.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.contact .contact-menu{
    display: flex;
    justify-content: right;
}

.contact .contact-menu i{
    color: white;
    font-size: 2rem;
    padding: 2rem 2rem;
}

.contact .header h1{
    color: white;
    font-size: 4rem;
    font-weight: 700;
    text-shadow: 0.2rem 0.2rem 0.4rem rgb(27, 227, 204);
    text-align: center;
    padding-bottom: 2rem;
}





.contact .top-section{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 10rem;
}

.contact .top-section .map{
    width: 100%;
    flex: 1 1 40%;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    backdrop-filter: blur(0.4rem);
}

.contact .top-section .get-in-touch{
    flex: 1 1 40%;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    backdrop-filter: blur(0.4rem);
}

.contact .top-section .get-in-touch h3{
    color: white;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 1rem;
}

.contact .top-section .get-in-touch .box{
    width: 100%;
    margin: 0.4rem 0;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.5rem;
    font-size: 1rem;
    color: white;
    text-transform: none;
}

.contact .top-section .get-in-touch .box::placeholder{
    color: rgba(255, 255, 255, 0.5);
}

.contact .top-section .get-in-touch textarea{
    height: 10rem;
    resize: none;
}

.contact .top-section .get-in-touch .btn{
    width: 100%;
    margin-top: 1.5rem;
    transition: 0.3s;
}

.contact .top-section .get-in-touch .btn:hover{
    transform: scale(0.9);
}

.contact .bottom-section{
    margin: 3rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    align-items: flex-start;
    justify-content: center;
    gap: 1.5rem;
}

.contact .bottom-section .box{
padding: 2rem 1rem;
background-color: rgba(0, 0, 0, 0.2);
border-radius: 0.5rem;  
backdrop-filter: blur(0.4rem);
text-align: center;
height: 15rem;
}

.contact .bottom-section .box i{
height: 3rem;
width: 4rem;
line-height: 3rem;
font-size: 1.5rem;
background-color: rgba(0, 0, 0, 0.3);
border-radius: 0.5rem;
color: white;
margin-bottom: 1rem;
}

.contact .bottom-section .box h3{
padding: .5rem 0;
font-size: 1.5rem;
color: black;
}

.contact .bottom-section .box a{
display: block;
font-size: 1rem;
color: black;
text-transform: none;
text-decoration: none;
}

.contact .bottom-section .box a:hover{
color: white;
}

