body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 100%;
	@media (max-width: 600px) {
        grid-template-columns: 100%; /* Single column layout */
    }
	height: 100vh;
	
}

::-webkit-scrollbar{
	display: none;
}

.menu{
	right: 2rem;
	top: 2rem;
	position: absolute;
	display: none;
}

@media (max-width: 600px) {
    .menu {
        display: block; /* Show on screens with a maximum width of 600px or less */
		z-index: 10;
    }
}

.sidebar{
	height: 100%;
	background-color: #333;
	position: fixed;
	width: 15%;
	@media (max-width: 600px) {
		position: relative;
		width: 100%;
		display: none;
    }
}

.sidebar header{
	display: flex;
	flex-direction: column;
}

.sidebar header h3{
	display: flex;
	margin-left: 2rem;
	margin-top: 1.5rem;
}

.sidebar header hr{
	color: white;
	width: 90%;
	margin-top: 0;
}

.sidebar header nav ul li{
	display: flex;
	margin-top: 2rem;
	width: 28vh;
	height: 2.5rem;
	justify-content: left;
	align-items: center;
	/* background-color: whitesmoke; */
	/* color: white; */
	border-radius: 5px;
	padding-left: 0.5rem;
}


.sidebar header nav ul li a{
	/* color: white; */
}

.highlight{
	background-color: white;
	color: black;
}

.highlight a{
	color: black;
}

.navbar{
	position: fixed;
	width: 84.5%;
	margin-left: 15%;
	background-color: white;
	z-index: 1;
	/* justify-content: right; */
}


nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	/* display: inline; */
	/* margin: 2rem; */
	margin-left: 0.5rem;
	margin-right: 10px;
}

nav a {
	color: white;
	text-decoration: none;
	margin-left: 0.5rem;
}


.body{
	/* height: 100vh; */
	padding-left: 15%;
	display: flex;
    flex-direction: column;
	justify-content: space-between;
	@media (max-width: 600px) {
		padding-left: 0%;
    }
}

.top-content{
	display: flex;
	justify-content: space-between;
	margin-top: 0.5%;
	align-items: center;
}

.top-content .search{
	display: flex;
	justify-content: center;	
	align-items: center;
	margin-left: 30%;
	margin-top: 0px;
}

.top-content .search input{
	width: 30rem;
	height: 2.5rem;
	border-radius: 25px;
	padding-left: 15px;
	padding-right: 12%;
	margin-top: 0px;
}

.top-content .search .search-icon{
	position: absolute;
	margin-left: 28rem;
}

.top-content .search .search-icon i{
	cursor: pointer;
}

.user_image{
	display: flex;
	justify-content:end;
	align-items: center;
	margin-right: 0.5rem;
	transition: 0.3s;
}

.user_image img{
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin-top: 0px;
}

.user_image:hover{
	transform: scale(1.1);
}

.user_image h4{
	margin-right: 0.5rem;
	margin-top: 0px;
	margin-left: 0.5rem;
}


/* Styles for the profile dropdown */
.profile-dropdown {
	position: relative;
	display: flex;
	justify-content: right;
	margin-right: 1rem;
}

.profile-content {
	display: none;
	position: absolute;
	text-align: center;
	justify-content: flex-end;
	background-color: white;
	min-width: 200px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	z-index: 1;
	/* border: solid 1px red; */
	border-radius: 10px 0px 10px 10px;
	transition: opacity 0.3s ease;
}

.profile-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
  
  .profile-content a:hover {
	/* background-color: #ddd; */
  }
  
  .show {
	display: block;
	opacity: 1;
  }
  



header {
	color: white;
	/* display: flex; */
	justify-content: space-between;
	/* padding: 10px 20px; */
}

header h1 {
	margin: 0;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px;
	margin-top: 4%;
}


section {
	/* flex-basis: 48%; */
	margin: 10px;
}

.body .trending .trending-div{
	display: flex;

}

.body .trending .trending-content{
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	height: 40vh;
	width: 55vh;
}


.body .trending .trending-div .trending-image img{
	height: 40vh;
	width: 55vh;
}

.read-now-button{
	border: solid 1px;
	border-radius: 25px;
	padding: 0.5rem 2rem 0.5rem 2rem;
	transition: 0.3s;
	width: 11vh;
}

.read-now-button a{
	text-decoration: none;
}

.read-now-button a:hover{
	/* text-decoration: none; */
	color: white;
}



.read-now-button:hover{
	transform: scale(0.9);
	background-color: black;
}

.second-partition{
	display: flex;
	flex-direction: column;
	position:absolute;
	margin-left: 58%;
	margin-top: 5%;
	gap: 1rem;
}

.recommendations{
	border: solid black 1px;
	width: 50vh;
	padding: 1rem;
	height: 35vh;
	border-radius: 20px;
	margin: 0px;
}

.recommendations hr{
	margin: 0;
}

.recommendations .rec-heading{
	margin-top: 0.5rem;
	margin-bottom: 0;
}


.recommendations .rec-heading h2{
	margin: 0;
	margin-bottom: 0.5rem;
}

.recommendations .rec-view{
	font-size: small;
	text-decoration: none;
	margin-top: 0px;
	padding-left: 2rem;
}

.recommendations .rec-user{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.5rem;
}

.recommendations .rec-user img{
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

.recommendations .rec-user h3{
	justify-content: center;
	align-items: center;
	padding-left: 0.5rem;
}


.recommendations .rec-user a{
	border: solid 1px;
	text-decoration: none;
	border-radius: 25px;
	padding: 0.5rem 2rem 0.5rem 2rem;
	transition: 0.3s;
}

.recommendations .rec-user a:hover{
	background-color: black;
	color: white;
	transform: scale(0.9);
}

.suggestions .suggestions-articles{
	display: flex;
	height: 50vh;
	width: 80vh;
	gap: 3rem;
}

.suggestions .suggestions-articles img{
	height: 20vh;
	width: 30vh
}

section h2 {
	margin-top: 0;
}

article {
	background-color: #f2f2f2;
	border: 1px solid #ddd;
	padding: 10px 20px;
	margin-top: 10px;
}

article h3 {
	margin-top: 0;
}

article h4 {
	margin: 5px 0;
}

footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 0px;
}