.verification-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
}


.verification-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.verification-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.show{
    display: block;
}

.hide{
    display: none;
}